#navigation{
    width: 100%;
    padding:8px 28px;
    margin-top: 156px;
    border: 2px solid var(--border);
    border-radius: 25px;
}
#navigation a{
    font-size: 1.2rem;
    color: var(--grey);
    font-weight: 400;
    line-height: 1.6rem;
}
#navigation i{
    margin: 0 10px;
    color: var(--grey);
}
/* product-detail */
#product-detail{
    margin-top: 56px;
    background-color: var(--white);
    border-radius: 16px;
    padding: 80px;
}
.product-info{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}
.product-info__content{
    flex-basis: 50%;
}
.product-info__img{
    flex-basis: 50%;
    padding:0 32px;
}
.product-info__img img{
    width:100%;
    border-radius: 16px;
}
.product-info__content h1{
    font-size: 4rem;
    color: var(--black);
    font-weight: 400;
    line-height: 4.8rem;
    margin-bottom: 20px;
}
.product-info__content p{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.4rem;
    color: var(--grey);
    margin-bottom: 28px;
}
.product-info__content h2{
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 3.2rem;
    color: var(--primary);
    margin-bottom: 32px;
}
.add-to-cart .number-input{
    width:90px;
    height: 48px;
    padding: 8px 28px;
    margin: 0 8px 12px 0;
    border-radius: 24px;
    border:2px solid var(--border);
    font-size: 1.4rem;
    outline: 0;
}
.number-input:hover,.number-input:focus{
    border-color: var(--primary);
}
.product-detail{
    padding-top: 80px;
}
.shop-header{
    padding:0 15px 40px
}
.product-detail__title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.product-detail__title h3{
    font-size: 1.7rem;
    font-weight: 400;
    color: var(--black);
    line-height: 2.4rem;
}
.product-detail__title p{
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.6rem;
    color: var(--grey);
}
.product-detail__content{
   display:flex;
   justify-content: space-between;
}
.product-detail__text{
    flex-basis: 75%;
    margin: 24px 0 0 15px;
}
.product-detail__text h4{
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 3.2rem;
    color: var(--black);
    margin-bottom: 16px;
}
.product-detail__text p{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.4rem;
    color: var(--black);
    margin-bottom: 28px;
}

/* Product-table */
.product-table{
    flex-basis: 25%;
    height: fit-content;
    margin:24px 15px 0 60px;
    padding:16px 32px;
    border:2px solid var(--border);
    border-radius: 16px;
}
.table-row{
    width:100%;
    padding:16px;
    display: flex;
    justify-content: space-between;
}
.table-row:not(:last-child){
    border-bottom: 1px solid var(--border);
}
.table-col{
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: var(--black);
    font-weight: 400;
}
#email{
    margin-bottom: 120px;
}