:root{
    --black:#111;
    --white:#fff;
    --primary:#a5c906;
    --text:#717171;
    --border:#ddd;
    --grey:#999999;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Open Sans', sans-serif;
    font-size: 62.5%;
    background-color: #f8f8f8;
}